#search {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#time {
    flex:0 1 25%;
}

#timezone {
    flex:0 1 25%;
}

#item {
    flex:0 1 25%;
}

#buttondiv {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 1rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
    flex: 0 1 25%;
}

@media (max-width: 767px) {
    #buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex: none;
    }

    .spacearea {
        visibility:hidden
    }
    }

    @media (max-width: 420px) {
        #search {
            display: block;
            height: 15rem;
            /* margin: auto; */
        }
        #time {
            display: block;
            width: 100%;
        }
        
        #timezone {
            display: block;
            margin-top: 1rem;
            width: 100%;
        }
        
        #item {
            display: block;
            margin-top: 1rem;
            width: 100%;
        }
    }    
